/* Form */
.form .module-container {
	max-width: 945px;
}
.form .module-form {
    position: relative; 
}

.form .module-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 10px;
    background: linear-gradient(to right, #17C0EE, #70E77C); 
    z-index: 1;
}

@media (max-width: 1199px) {
	.form {
		padding: 0 10px;
	}
	.form .module-col {
		padding-right: 10px;
		padding-left: 10px;
	}
}
@media (max-width: 767px) {
	.form .module-form {
		padding: 45px 30px;
	}
}